*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
}
.area_table{

    position: absolute;
    left: 230px;
    top: 80px;
}
.button_add{
    color: cornflowerblue;
}

.table{
    border: 1px solid #000000;
}
.table th{
    width: 78px;
    height: 30px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 30px;
}
.table td{

    height: 30px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 30px;
}
.find{
    position: absolute;
    left: 985px;
    top: 105px;
}